annotated-types
certifi
charset-normalizer
click
colorama
dotenv
gitdb
GitPython
idna
iniconfig
joblib
numpy
packaging
pandas
platformdirs
pluggy
protobuf
pydantic
pydantic_core
Pygments
pytest
python-dateutil
python-dotenv
pytz
PyYAML
requests
scikit-learn
scipy
sentry-sdk
six
smmap
threadpoolctl
typing-inspection
typing_extensions
tzdata
urllib3
wandb
